#examples{
    border-top: solid 1px #FCA311;
}

#examples h2{
    margin-top: 50px;
}

#examples menu li button{
    padding: 5px 20px;
    color: #EEE;
    background-color: transparent;
    -webkit-transition: background-color 0.5s ease-out;
    -moz-transition: background-color 0.5s ease-out;
    -o-transition: background-color 0.5s ease-out;
    transition: background-color 0.5s ease-out;
    border: none;
    border-radius: 50px;
    font-size: 1.17em;
    cursor: pointer;
    /* Adjust the ring size and color as needed */
    box-shadow: 0 0 0 1px rgb(252, 163, 17); /* Example: blue ring */
    /* Additional styles for your element */
    border: none; /* Remove default border if necessary */
    outline: none; /* Remove default focus outline */
}

#examples menu li button:focus {
    /* Different ring style for focus state, if desired */
    box-shadow: 0 0 0 1px rgba(59, 130, 246, 0.75); /* Example: darker blue ring on focus */
    background: #fca311;
    color: #000;
}

#examples menu li button:hover{
    background-color: #FCA311;
    color: #000;
}

#examples #tab-content #content{
    border-radius: 25px;
    padding-left: 15px;
    background: rgba(252,163,17,0.35);
    -webkit-backdrop-filter: blur(1px);
    backdrop-filter: blur(1px);
    border: 1px solid rgba(252,163,17,0.175);
    -webkit-box-shadow: 0 14px 20px -13.5px #fca311;
    -moz-box-shadow: 0 14px 20px -13.5px #fca311;
    box-shadow: 0 14px 20px -13.5px #fca311;
}

#examples #tab-content p, #examples #tab-content pre{
    text-align: left;
}